
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: permarker;
    src: url(../fonts/permanentmarker-regular.ttf);
  }

body {
    background: #ffffff;
    
}


p {
    font-size: 1.5rem;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}

h1 {
    position: fixed;
    top: 0;
    left: 5vw;
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-family: permarker;
}

#index_grid_wrapper {
    
}


header {
    position: fixed;
    height: 15vw;
    width: 100vw;
    background-color: #303030;
}

nav {
    
    position: fixed;
    width: 100vw;
    height: 10vw;
    top: 15vw;
    
    background: #ca4444ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav p{
    color: white;
    font-size: 3vw;
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    }

article {
    background: #27beff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100rem;
}

footer {
    background: crimson;
    position: fixed;
    height: 15vw;
    width: 100vw;
    
}

/* cssabout */






/* csscards */



/* cssindex */
#img_landskap {
    width: 100vw;
}