
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: permarker;
    src: url(../fonts/permanentmarker-regular.ttf);
  }

body {
    background: #ffffff;
    
}


p {
    font-size: 1.5rem;
    margin-right: 30px;
    color: rgb(0, 0, 0);
}

h1 {
    position: fixed;
    top: 0;
    left: 5vw;
    font-size: 2.25rem;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-family: permarker;
}

#index_grid_wrapper {
    background-color: crimson;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-template-areas: 
    "he"
    "na"
    "ar"
    "fo";
    gap: 0;
}


header {
    position: fixed;
    height: 15vw;
    width: 100vw;
    background: #ef4f4f;
}

nav {
    background: #00ff40;
    grid-area: na;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "s1 s2"
    "s3 s4";
    
}

#section_1 {
    background: #00ff40;
    
}

article {
    grid-area: ar;
    background: #89dcff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: crimson;
    grid-area: fo;
    position: fixed;
    height: 15vw;
    width: 100vw;
    
}

/* cssabout */






/* csscards */



/* cssindex */
#img_landskap {
    width: 100vw;
}